{% from "widgets/footer.html" import footer %}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta name="google-site-verification" content="4XktLTKT0xXpN8qZvZBcTojHN2sPu92UXPz1HYjmrp4" />
  {% block head %}
    {% include "widgets/head.html" %}
  {% endblock head %}
</head>

<body>

<header>
   {% block header %}
     {% include "widgets/header.html" %}
   {% endblock header %}
</header>

{% block navbar %}
  {% include "widgets/navbar.html" %}
{% endblock navbar %}

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
           {% block content %}
           {% endblock content %}
         </div>
      </div>
   </div>
</div>   

<footer>
  {% block footer %}
    {% call footer() %}
      {% block footer_widgets %}
        {% include "widgets/footer-widgets.html" %}
      {% endblock footer_widgets %}
    {% endcall %}
  {% endblock footer %}
</footer>

{% block javascript %}
  {% include 'widgets/analytics.html' %}
  <script src="/theme/js/jquery.js"></script>
  <script src="/theme/js/bootstrap.js"></script>
  <script src="/theme/js/jquery.flexslider-min.js"></script>
  <script src="/theme/js/jquery.isotope.js"></script>
  <script src="/theme/js/jquery.prettyPhoto.js"></script>
  <script src="/theme/js/filter.js"></script>
  <script src="/theme/js/jquery.tweet.js"></script>
  <script src="/theme/js/custom.js"></script>
{% endblock javascript %}
</body>
</html>