{% extends "base.html" %}
{% from "widgets/post.html" import post %}

{% block content %}
  <div class="blog">
     <div class="row">
        <div class="span12">
           
           <!-- Blog Posts -->
           <div class="row">
              <div class="span8">
                 <div class="posts">
                    {% for article in articles %}
                      {% call post(article) %}
                        {{ article.content }}
                      {% endcall %}
                    {% endfor %}
                   
                    {#
                    <!-- Pagination -->
                    <div class="paging">
                       <span class='current'>1</span>
                       <a href='#'>2</a>
                       <span class="dots">&hellip;</span>
                       <a href='#'>6</a>
                       <a href="#">Next</a>
                    </div> 
                    #}
                    
                    <div class="clearfix"></div>
                    
                 </div>
              </div>
              {% include "widgets/sidebar.html" %}
           </div>
           
           
           
        </div>
     </div>
  </div>
  {% include "widgets/cta.html" %}
{% endblock content %}
