{% extends "base.html" %}
{% from "widgets/post.html" import post %}

{% block content %}
  <div class="blog">
     <div class="row">
        <div class="span12">
           
           <!-- Blog Posts -->
           <div class="row">
              <div class="span8">
                 <div class="posts">
                 
                    {% call post(title="Sed justo scelerisque ut consectetur", date="26-2-2012", author="Admin", category="General", num_comments="2", image="theme/img/photos/1.jpg", more_url="#") %}
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi   tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac   ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna.   Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Fusce imperdiet   ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean   at massa leo. Vestibulum in varius arcu.</p>
                    {% endcall %}
                    
                    {% call post(title="Ut commodo ullamcorper risus nec mattis", date="26-2-2012", author="Admin", category="General", num_comments="2", image="theme/img/photos/2.jpg", more_url="#") %}
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi   tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac   ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna.   Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Fusce imperdiet   ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean   at massa leo. Vestibulum in varius arcu.</p>
                    {% endcall %}
                    
                    <!-- Pagination -->
                    <div class="paging">
                       <span class='current'>1</span>
                       <a href='#'>2</a>
                       <span class="dots">&hellip;</span>
                       <a href='#'>6</a>
                       <a href="#">Next</a>
                    </div> 
                    
                    <div class="clearfix"></div>
                    
                 </div>
              </div>
              {% include "widgets/sidebar.html" %}
           </div>
           
           
           
        </div>
     </div>
  </div>
  {% include "widgets/cta.html" %}
{% endblock content %}
