{% extends "base.html" %}
{% from "widgets/post.html" import post %}

{% block content %}
  <div class="blog">
     <div class="row">
        <div class="span12">
           
           <!-- Blog Posts -->
           <div class="row">
              <div class="span8">
                 <div class="posts">
                 
                    {% call post(article) %}
                      {{ article.content }}
                    {% endcall %}
                    
                    {#
                    <div class="well">
                       <!-- Social media icons -->
                       <div class="social pull-left">
                          <h5>Sharing is Sexy: </h5>
                          <a href="#"><i class="icon-facebook facebook"></i></a>
                          <a href="#"><i class="icon-twitter twitter"></i></a>
                          <a href="#"><i class="icon-linkedin linkedin"></i></a>
                          <a href="#"><i class="icon-pinterest pinterest"></i></a>
                          <a href="#"><i class="icon-google-plus google-plus"></i></a>
                       </div>
                       <!-- Tags -->
                       <div class="tags pull-right">
                          <h5>Tags: </h5>
                          <a href="#">Bootstrap</a> <a href="#">Responsive</a> <a href="#">Google</a> 
                       </div>
                       <div class="clearfix"></div>
                    </div>
                    
                    <hr />
                    
                    {% include "widgets/comments.html" %}
                    {% include "widgets/respond.html" %}
                    
                    <!-- Navigation -->
                    
                    <div class="navigation button">  
                          <div class="pull-left"><a href="#">&laquo; Previous Post</a></div>
                          <div class="pull-right"><a href="#">Next Post &raquo;</a></div>
                          <div class="clearfix"></div>
                    </div>
                    #}
                    
                    <div class="clearfix"></div>
                 </div>
              </div>
              {% include "widgets/sidebar.html" %}
           </div>
        </div>
     </div>
  </div>
  {% include "widgets/cta.html" %}
{% endblock content %}
