{% extends "base.html" %}
{% from "widgets/post.html" import post %}

{% block content %}
  <div class="blog">
     <div class="row">
        <div class="span12">
           
           <!-- Blog Posts -->
           <div class="row">
              <div class="span8">
                 <div class="posts">
                 
                    {% call post(article) %}
                      {{ article.content }}
                    {% endcall %}
                    
                    <div class="well">
                       <h5>Le partage c'est chic !</h5>
                       <div class='shareaholic-canvas' data-shareaholic-widgets='share_buttons'></div>
                       <div class="clearfix"></div>
                    </div>
                    
                    {#
                    <hr />
                    
                    {% include "widgets/comments.html" %}
                    {% include "widgets/respond.html" %}
                    
                    <!-- Navigation -->
                    
                    <div class="navigation button">  
                          <div class="pull-left"><a href="#">&laquo; Previous Post</a></div>
                          <div class="pull-right"><a href="#">Next Post &raquo;</a></div>
                          <div class="clearfix"></div>
                    </div>
                    #}
                    
                    <div class="clearfix"></div>
                 </div>
              </div>
              {% include "widgets/sidebar.html" %}
           </div>
        </div>
     </div>
  </div>
  {% include "widgets/cta.html" %}
{% endblock content %}

{% block javascript %}
  {{ super() }}
  <script type="text/javascript">
  //<![CDATA[
    (function() {
      var shr = document.createElement('script');
      shr.src = '//dtym7iokkjlif.cloudfront.net/assets/pub/shareaholic.js';
      shr.type = 'text/javascript';
      shr.async = 'true';
      shr.onload = shr.onreadystatechange = function() {
        var rs = this.readyState;
        if (rs && rs != 'complete' && rs != 'loaded') return;
        var apikey = '75c918ccb1ef6e239b16dd30d737492a'
        try { Shareaholic.init(apikey); } catch (e) {}
      };
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(shr, s);
    })();
  //]]>
  </script>
{% endblock javascript %}
