{% extends "base.html" %}

{% block content %}
<div class="csoon">
   <div class="row">
      <div class="span12">
         <div class="csoon-page">
            <p class="soon-med">Permettre aux praticiens avancés de se réunir et d'échanger<br/>pour apprendre en dehors des sentiers battus.</p>
            <p class="soon-big">Agile France en <span class="color">mai 2013</span></p>                        
            <p class="soon-small">Nous voulons permettre aux <span class="color">agilistes</span> qui ont une <span class="color">expérience de terrain</span> d'évoluer<br/>
              plutôt que d'évangéliser l'agilité auprès des novices.</p>
            <p class="soon-small">Nous voulons offrir des <span class="color">sessions répétées et travaillées</span><br/>
              par des orateurs de <span class="color">portée nationale et internationale</span><br/>
              plutôt qu'un simple cadre.<br/>
            <p class="soon-small">Nous voulons offrir aux participants des occasions d'<span class="color">échanger de manière informelle</span><br/>
              plutôt qu'une simple succession de sessions.
            <p class="soon-small">Nous voulons ouvrir la conférence aux pratiques agiles <span class="color">novatrices voire iconoclastes</span><br/>
              plutôt que de la fermer sur l'orthodoxie d'une ou plusieurs méthodes.<br/>
            <p class="soon-small">Nous voulons ouvrir la conférence aux pratiques agiles dans <span class="color">tous les métiers y compris hors IT</span><br/>
              plutôt que de la fermer sur un métier ou un rôle de coach, de manager ou de programmeur.</p>
            <div class="soon-tweet">
               <div class="ctweet"></div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
