{% extends "base.html" %}
{% from "widgets/session.html" import session_meta %}
{% from "widgets/sidebar.html" import sidebar %}
{% from "widgets/bio.html" import social_icons %}
{% import "widgets/recent_posts.html" as recent_posts %}

{% block content %}
  <div class="blog">
     <div class="row">
        <div class="span12">
           
           <!-- Blog Posts -->
           <div class="row">
              <div class="span8">
                 <div class="posts">
                 
                    <div class="entry">
                       {{ session_meta(session, CONFERENCE.bios.by_slug, ROOM_NAMES) }}
                       {{ session.promo }}
                       {{ session.content }}
                       {{ session.summary }}
                       {% for speaker in session.bios %}
                           {% set bio = CONFERENCE.bios.by_slug[speaker] %}
                           {% if bio.content | trim %}
                             <h4>{{ 'A propos de'|apostrophe(bio.title) }}</h4>
                             {{ bio.content }}
                             <div class="social">
                               {{ social_icons(bio) }}
                             </div>  
                           {% endif %}
                       {% endfor %}
                    </div>
                    
                    <div class="well">
                       {% if session.tags %}
                          <div class="tags pull-right">
                             <h5>Tags: </h5>
                             {% for tag in session.tags %}
                                <a href="#" onclick="return false">{{tag.name}}</a>
                             {% endfor %}
                          </div>
                       {% endif %}
                       <div class="social">
                         {% include "widgets/share.html" %}
                       </div>
                       <div class="clearfix"></div>
                    </div>
                    <hr />
                    {% include "widgets/disqus.html" %}
                    {#
                    
                    {% include "widgets/comments.html" %}
                    {% include "widgets/respond.html" %}
                    
                    <!-- Navigation -->
                    
                    <div class="navigation button">  
                          <div class="pull-left"><a href="#">&laquo; Previous Post</a></div>
                          <div class="pull-right"><a href="#">Next Post &raquo;</a></div>
                          <div class="clearfix"></div>
                    </div>
                    #}
                    
                    <div class="clearfix"></div>
                 </div>
              </div>
              {% if session.tags|count > 1 %}
                {% set max_sessions = 3 %}
              {% else %}
                {% set max_sessions = 5 %}
              {% endif %}
              {% call sidebar() %}
                {% for tag in session.tags %}
                  {{ recent_posts.tall(tag.name, CONFERENCE.sessions.by_tag[tag.name]|sessions_after(session), max_sessions) }}
                {% endfor %}
              {% endcall %}
           </div>
        </div>
     </div>
  </div>
  {% include "widgets/cta.html" %}
{% endblock content %}
