{% extends "base.html" %}
{% from "widgets/session.html" import post %}
{% from "widgets/sidebar.html" import sidebar %}
{% import "widgets/recent_posts.html" as recent_posts %}

{% block content %}
  <div class="blog">
     <div class="row">
        <div class="span12">
           
           <!-- Blog Posts -->
           <div class="row">
              <div class="span8">
                 <div class="posts">
                 
                    {% call post(session, CONFERENCE.all_bios, ROOM_NAMES) %}
                      {{ session.content }}
                    {% endcall %}
                    
                    <div class="well">
                       {% if session.tags %}
                          <div class="tags pull-right">
                             <h5>Tags: </h5>
                             {% for tag in session.tags %}
                                <a href="#" onclick="return false">{{tag.name}}</a>
                             {% endfor %}
                          </div>
                       {% endif %}
                       <div class="social">
                         {% include "widgets/share.html" %}
                       </div>
                       <div class="clearfix"></div>
                    </div>
                    {#
                    <hr />
                    
                    {% include "widgets/comments.html" %}
                    {% include "widgets/respond.html" %}
                    
                    <!-- Navigation -->
                    
                    <div class="navigation button">  
                          <div class="pull-left"><a href="#">&laquo; Previous Post</a></div>
                          <div class="pull-right"><a href="#">Next Post &raquo;</a></div>
                          <div class="clearfix"></div>
                    </div>
                    #}
                    
                    <div class="clearfix"></div>
                 </div>
              </div>
              {% if session.tags|count > 1 %}
                {% set max_sessions = 3 %}
              {% else %}
                {% set max_sessions = 5 %}
              {% endif %}
              {% call sidebar() %}
                {% for tag in session.tags %}
                  {{ recent_posts.tall(tag.name, CONFERENCE.tags[tag.name]|sessions_after(session), max_sessions) }}
                {% endfor %}
              {% endcall %}
           </div>
        </div>
     </div>
  </div>
  {% include "widgets/cta.html" %}
{% endblock content %}
