{% extends "base.html" %}

{% from "widgets/bio.html" import list_roles, social_icons, bio_pic %}

{% block content %}
  <div class="about">
     <div class="row">
        <div class="span12">
           <div class="hero">
              <h3><span>{{ page.title }}</span></h3>
              {{ page.content }}
           </div>
           
           <div class="teams">
              {% for row in CONFERENCE.bios.by_role_and_slug[page.role] | dictsort | batch(4) %}
                <div class="row">
                   {% for slug, bio in row %}
                     <div class="span3">
                        <div class="staff">
                           <div class="pic">
                             {%- if bio.has_page() -%}
                               <a href="/{{ bio.url }}">{{ bio_pic(bio.slug, CONFERENCE.bio_pics) }}</a>
                             {%- else -%}
                               {{ bio_pic(bio.slug, CONFERENCE.bio_pics) }}
                             {%- endif -%}
                           </div>
                           <div class="details">
                              <div class="desig pull-left">
                                 <p class="name">
                                    {%- if bio.has_page() -%}
                                      <a href="/{{ bio.url }}">{{ bio.title }}</a>
                                    {%- else -%}
                                      {{ bio.title }}
                                    {%- endif -%}
                                 </p>
                                 <em>{{ list_roles(bio.roles, bio.sexe | default('M'),ROLE_NAMES) }}</em>
                              </div>
                              <div class="asocial pull-right">
                                 {{ social_icons(bio, false) }}
                              </div>
                              <div class="clearfix"></div>
                           </div>
                           <hr />
                        </div>
                     </div>
                  {% endfor %}
                </div>
              {% endfor %}
           </div>
        </div>
     </div>
  </div>
  {% include "widgets/cta.html" %}
{% endblock content %}
