{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        .creneau {
            padding: 5px;
            vertical-align: middle;

            background-repeat: repeat-x;
            border-radius: 5px;

            height: 100%;
            margin-bottom: 5px;
        }

        table {
            border-collapse: inherit;
            border-spacing: 5px;
            background-color: #f7f7f7;
        }

        table tr td {
            padding: 5px;
            vertical-align: middle;

            background-repeat: repeat-x;
            border-radius: 5px;
            margin: 10px;

            height: 100%;
        }

        td.time {
            min-width: 100px;
            vertical-align: text-top;
        }

        .green {
            background-color: #DFF0D8;
            color: #3C763D;
            border-color: #B2DBA1;
        }

        .orange {
            border-color: #ffc07d;
            background-color: #ffd58d;
            color: #cc7027;
        }

        .violet {
            border-color: #b9a9ff;
            background-color: #d8c7fa;
            color: #5757ad;
        }

        .yellow {
            border-color: #F5E79E;
            background-color: #FCF8E3;
            color: #8A6D3B;
        }

        .red {
            border-color: #DCA7A7;
            background-color: #F2DEDE;
            color: #A94442;
        }

        div.blue {
            border-color: #9ACFEA;
            background-color: #D9EDF7;
            color: #31708F;
        }

        span.blue {
            border-color: #9ACFEA;
            background-color: #D9EDF7;
            color: #31708F;
        }

        div.row-fluid {
            background-color: #f7f7f7;
        }

        td.blue {
            border-color: #9ACFEA;
            background-color: #D9EDF7;
            color: #31708F;
        }

        #programTabTop li {
            background-image: none;
        }

        #programTabBottom li {
            background-image: none;
        }

        div.well span.label {
            font-weight: normal;
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="well">
        <div class="row-fluid">
            Tracks :
            <span class="label red">Client</span>
            <span class="label yellow">Produit</span>
            <span class="label green">Collaborer</span>
            <span class="label orange">Orga</span>
            <span class="label violet">Technique</span>
            <span class="label blue">Air frais</span>
        </div>
    </div>

    <ul class="nav nav-tabs" id="programTabTop">
        <li><a href="#tab20140522" data-toggle="tab"><h4>Jeudi 22 mai</h4></a></li>
        <li><a href="#tab20140523" data-toggle="tab"><h4>Vendredi 23 mai</h4></a></li>
        <li class="pull-right"><a href="static/programme/programmeAgileFrance2014-V4.pdf" target="_blank"><h4><i class="icon-file"></i>Version PDF</h4></a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane" id="tab20140522">
    <div class="full-width visible-phone">
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>08h00 - 08h30</strong></div>
        </div>
        <div class="span11">
            <h5>Accueil et remise des badges</h5>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>08h30 - 09h00</strong></div>
        </div>
        <div class="span11">
            <h5>Petit déjeuner</h5>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>09h00 - 09h30</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <a href="sessions/keynote-le-produit-prochaine-frontiere-agilite.html"
                   target="_blank">
                    <h3>Keynote d'ouverture</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid">09h30 - 10h15</div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <h5>Pitch des sessions</h5>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>10h15 - 11h10</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span2">
                    <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

                    <div class="creneau blue">
                        <a href="sessions/la-simplicite-pas-facile.html" target="_blank">
                            La simplicité : pas facile !
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 2 - Chalet RdC</span>

                    <div class="creneau green">
                        <a href="sessions/liberez-vos-idees-et-partez-a-la-decouverte-de-la-facilitation-graphique.html"
                           target="_blank">
                            Initiation à la facilitation graphique
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 3 - Chalet étage</span>

                    <div class="violet creneau">
                        <a href="sessions/from-legacy-code-to-legacy-tests.html"
                           target="_blank">
                            From Legacy Code to Legacy Tests
                        </a>
                    </div>
                </div>

                <div class="span2">
                    <span class="label label-default pull-right">Salle 4 - Chalet étage</span>

                    <div class="creneau orange">
                        <a href="sessions/projets-agiles-arretez-les-derives.html"
                           target="_blank">
                            Projets Agiles : Arrêtez les dérives
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 5 - Chalet étage</span>

                    <div class="creneau red">
                        <a href="sessions/comment-impliquer-vos-clients-dans-leurs-projets.html"
                           target="_blank">
                            Comment impliquer vos clients dans leurs projets ?
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 6 - La Fermette</span>

                    <div class="creneau yellow">
                        <a href="sessions/comment-cadrer-un-projet-agile.html"
                           target="_blank">
                            Comment cadrer un projet agile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>11h10 - 11h40</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <h5>Pause</h5>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>11h40 - 12h00</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span2">
                    <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

                    <div class="creneau green">
                        <a href="sessions/desapprendre-a-faire-bien-pour-faire-juste-a-temps.html"
                           target="_blank">
                            Désapprendre à faire "bien" pour faire "juste à temps"
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 2 - Chalet RdC</span>

                    <div class="creneau blue">
                        <a href="sessions/tim-gallwey-ou-comment-le-coaching-a-commence.html"
                           target="_blank">
                            Tim Gallwey ou comment le coaching a commencé
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 3 - Chalet étage</span>

                    <div class="creneau violet">
                        <a href="sessions/ivre-j-ai-developpe-une-api-de-tests-automatises-en-bash.html"
                           target="_blank">
                            Ivre, j'ai développé une api de tests automatisés en Bash
                        </a>
                    </div>
                </div>

                <div class="span2">
                    <span class="label label-default pull-right">Salle 4 - Chalet étage</span>

                    <div class="creneau blue">
                        <a href="sessions/productivite-affectivite-fierte-humilite.html"
                           target="_blank">
                            Productivité, Affectivité,..., Fierté ou Humilité ?
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 5 - Chalet étage</span>

                    <div class="creneau orange">
                        <a href="sessions/l-holacracy-un-systeme-d-exploitation-pour-des-entreprises-agiles-et-sociocratiques.html"
                           target="_blank">
                            L'holacracy, un "système d'exploitation" pour des entreprises agiles et
                            sociocratique
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 6 - La Fermette</span>

                    <div class="creneau orange">
                        <a href="sessions/devenir-une-organisation-apprenante-dans-l-it-en-2014.html"
                           target="_blank">
                            Devenir une organisation apprenante dans l'IT en 2014
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>12h00 - 13h00</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span2">
                    <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

                    <div class="creneau green">
                        <a href="sessions/men-in-black-mmxiv-agile-rescue.html"
                           target="_blank">
                            Men In Black MMXIV : Agile Rescue
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 2 - Chalet RdC</span>

                    <div class="creneau green">
                        <a href="sessions/la-retrospective-continue.html" target="_blank">
                            La rétrospective continue
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 3 - Chalet étage</span>

                    <div class="creneau orange">
                        <a href="sessions/penser-son-organisation.html" target="_blank">
                            Penser son organisation
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 4 - Chalet étage</span>

                    <div class="creneau blue">
                        <a href="sessions/creation-technologie-et-musique-electronique-une-analogie-avec-le-software-craftsmanship.html"
                           target="_blank">
                            Création, technologie et musique "électronique": une analogie avec le Software
                            Craftsmanship
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 5 - Chalet étage</span>
                    <div class="creneau violet">
                        <a href="sessions/doublures-en-folie.html" target="_blank">
                            Doublures en folie
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 6 - La Fermette</span>

                    <div class="creneau yellow">
                        <a href="sessions/productownership-dans-le-brouillard.html"
                           target="_blank">
                            ProductOwnership dans le brouillard
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>13h00 - 14h30</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span12">
                    <h5>Déjeuner (Assis, barbecue s'il fait beau)</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>14h30 - 18h15</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span12">
                    <ul>
                        <li class="red">
                            <small class="pull-left">14h30 - 15h15</small>
                            &nbsp;
                            Place de marché</li>
                        <li class="red">
                            <small class="pull-left">15h15 - 16h00</small>
                            &nbsp;
                            Open Space (8+ espaces x 3 slots)
                        </li>
                        <li>
                            <small class="pull-left">16h00 - 16h30</small>
                            &nbsp;
                            Pause
                        </li>
                        <li class="red">
                            <small class="pull-left">16h30 - 17h30</small>
                            &nbsp;
                            Open Space (suite)
                        </li>
                        <li class="red">
                            <small class="pull-left">17h30 - 18h15</small>
                            &nbsp;
                            Restitutions des Open Spaces (expo des productions)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>18h15 - 19h00</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="blue">Keynote de mi-parcours</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>19h00 - 20h00</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span12">
                    <h5>Apéro</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>20h00 - 23h00</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span12">
                    <h5>Diner</h5>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="full-width hidden-phone">
    <table>
    <thead>
    <tr>
        <td></td>
        <td><h4><span class="label label-default">Salle 1<br></span></h4><h5>Le Belvédère</h5></td>
        <td><h4><span class="label label-default">Salle 2</span></h4><h5>Chalet RdC</h5></td>
        <td><h4><span class="label label-default">Salle 3</span></h4><h5>Chalet étage</h5></td>
        <td><h4><span class="label label-default">Salle 4</span></h4><h5>Chalet étage</h5></td>
        <td><h4><span class="label label-default">Salle 5</span></h4><h5>Chalet étage</h5></td>
        <td><h4><span class="label label-default">Salle 6</span></h4><h5>La Fermette</h5></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="time">08h00 - 08h30</td>
        <td colspan="6">Accueil et remise des badges</td>
    </tr>
    <tr>
        <td class="time">08h30 - 09h00</td>
        <td colspan="6">Petit déjeuner</td>
    </tr>
    <tr>
        <td class="time">09h00 - 09h30</td>
        <td colspan="6">
            <a href="sessions/keynote-le-produit-prochaine-frontiere-agilite.html"
               target="_blank">
                <h3 class="blue">Keynote d'ouverture</h3>
            </a>
        </td>
    </tr>
    <tr>
        <td class="time">09h30 - 10h00</td>
        <td colspan="6">Pitch des sessions</td>
    </tr>
    <tr>
        <td class="time" rowspan="2">10h15 - 11h10</td>
        <td class="blue">
            <a href="sessions/la-simplicite-pas-facile.html"
               target="_blank">
                La simplicité : pas facile !
            </a>
        </td>
        <td class="green">
            <a href="sessions/liberez-vos-idees-et-partez-a-la-decouverte-de-la-facilitation-graphique.html"
               target="_blank">
                Initiation à la facilitation graphique
            </a></td>
        <td class="violet">
            <a href="sessions/from-legacy-code-to-legacy-tests.html"
               target="_blank">
                From Legacy Code to Legacy Tests
            </a></td>
        <td class="orange">
            <a href="sessions/projets-agiles-arretez-les-derives.html"
               target="_blank">
                Projets Agiles : Arrêtez les dérives
            </a></td>
        <td class="red">
            <a href="sessions/comment-impliquer-vos-clients-dans-leurs-projets.html"
               target="_blank">
                Comment impliquer vos clients dans leurs projets ?
            </a>
        </td>
        <td class="yellow">
            <a target="_blank">
                Comment cadrer un projet agile ?
            </a>
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="time">11h10 - 11h40</td>
        <td colspan="6">Pause</td>
    </tr>
    <tr>
        <td class="time">11h40 - 12h00</td>
        <td class="green">
            <a href="sessions/desapprendre-a-faire-bien-pour-faire-juste-a-temps.html"
               target="_blank">
                Désapprendre à faire "bien" pour faire "juste à temps"
            </a>
        </td>
        <td class="blue">
            <a href="sessions/tim-gallwey-ou-comment-le-coaching-a-commence.html"
               target="_blank">
                Tim Gallwey ou comment le coaching a commencé
            </a>
        </td>
        <td class="violet">
            <a href="sessions/ivre-j-ai-developpe-une-api-de-tests-automatises-en-bash.html"
               target="_blank">
                Ivre, j'ai développé une api de tests automatisés en Bash
            </a>
        </td>
        <td class="blue">
            <a href="sessions/productivite-affectivite-fierte-humilite.html" target="_blank">
                Productivité, Affectivité,..., Fierté ou Humilité ?
            </a>
        </td>
        <td class="orange">
            <a href="sessions/l-holacracy-un-systeme-d-exploitation-pour-des-entreprises-agiles-et-sociocratiques.html"
               target="_blank">
                L'holacracy, un "système d'exploitation" pour des entreprises agiles et sociocratique
            </a>
        </td>
        <td class="orange">
            <a href="sessions/devenir-une-organisation-apprenante-dans-l-it-en-2014.html"
               target="_blank">
                Devenir une organisation apprenante dans l'IT en 2014
            </a>
        </td>

    </tr>
    <tr>
        <td class="time">12h00 - 13h00</td>
        <td class="green">
            <a href="sessions/men-in-black-mmxiv-agile-rescue.html"
               target="_blank">
                Men In Black MMXIV : Agile Rescue
            </a>
        </td>
        <td class="green">
            <a href="sessions/la-retrospective-continue.html"
               target="_blank">
                La rétrospective continue
            </a>
        </td>
        <td class="orange">
            <a href="sessions/penser-son-organisation.html"
               target="_blank">
                Penser son organisation
            </a>
        </td>

        <td class="blue">
            <a href="sessions/creation-technologie-et-musique-electronique-une-analogie-avec-le-software-craftsmanship.html"
               target="_blank">
                Création, technologie et musique "électronique": une analogie avec le Software Craftsmanship
            </a>
        </td>
        <td class="violet">
            <a href="sessions/doublures-en-folie.html"
               target="_blank">
                Doublures en folie
            </a>
        </td>
        <td class="yellow">
            <a href="sessions/productownership-dans-le-brouillard.html"
               target="_blank">
                ProductOwnership dans le brouillard
            </a>
        </td>
    </tr>
    <tr>
        <td class="time">13h00 - 14h30</td>
        <td colspan="6">Déjeuner (Assis, barbecue s'il fait beau)</td>
    </tr>
    <tr>
        <td class="time">14h30 - 18h15</td>
        <td colspan="6">
            <ul>
                <li class="red">
                    <small class="pull-left">14h30 - 15h15</small>
                    &nbsp;
                    Place de marché</li>
                <li class="red">
                    <small class="pull-left">15h15 - 16h00</small>
                    &nbsp;
                    Open Space (8+ espaces x 3 slots)
                </li>
                <li>
                    <small class="pull-left">16h00 - 16h30</small>
                    &nbsp;
                    Pause
                </li>
                <li class="red">
                    <small class="pull-left">16h30 - 17h30</small>
                    &nbsp;
                    Open Space (suite)
                </li>
                <li class="red">
                    <small class="pull-left">17h30 - 18h15</small>
                    &nbsp;
                    Restitutions des Open Spaces (expo des productions)
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="time">18h15 - 19h00</td>
        <td colspan="6"><h3 class="blue">Keynote de mi-parcours</h3></td>
    </tr>
    <tr>
        <td class="time">19h00 - 20h00</td>
        <td colspan="6">
            Apéro
        </td>
    </tr>
    <tr>
        <td class="time">20h00 - 23h00</td>
        <td colspan="6">
            Diner
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>

    <div class="tab-pane" id="tab20140523">
    <div class="full-width visible-phone">
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>08h00 - 08h30</strong></div>
        </div>
        <div class="span11">
            <h3 class="blue">Bonus matinal: Tai Chi en plein air</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>08h30 - 09h00</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <h5>Petit déjeuner</h5>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>09h00 - 09h30</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <h5>Pitch des sessions</h5>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>09h30 - 11h15</strong></div>
        </div>
        <div class="span11">
            <span class="label label-default pull-right">Salle 2 - Chalet RdC</span>

            <div class="creneau yellow">
                <a href="sessions/je-veux-tester-avec-des-utilisateurs-je-fais-comment-et-quoi-et-est-ce-que-ca-peut-etre-rapide-et-pas-cher.html"
                   target="_blank">
                    Je veux tester avec des utilisateurs - je fais comment ? et
                    quoi ? et est-ce que ça peut être rapide et pas cher ?
                </a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>09h30 - 10h30</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span2">
                    <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

                    <div class="creneau blue">
                        <a href="sessions/generation-agyle.html" target="_blank">
                            Génération agYle
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 3 - Chalet étage</span>

                    <div class="creneau violet">
                        <a href="sessions/le-mythe-du-framework-agile.html" target="_blank">
                            Le mythe du framework agile
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 4 - Chalet étage</span>

                    <div class="creneau green">
                        <a href="sessions/cross-programming-forging-the-future-of-programming.html"
                           target="_blank">
                            Cross-Programming : Forging the future of programming
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 5 - Chalet étage</span>

                    <div class="creneau orange">
                        <a href="sessions/petits-outils-de-management-agile-a-l-usage-des-honnetes-managers.html"
                           target="_blank">
                            Petits Outils de Management Agile à l'usage
                            des...
                            Honnêtes Managers
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 6 - La Fermette</span>

                    <div class="creneau yellow">
                        <a href="sessions/retour-sur-l-experience-d-ecriture-d-un-livre-en-5-jours-en-mode-leanagilecamp.html"
                           target="_blank">
                            Retour sur l'expérience d'écriture
                            d'un
                            livre en 5 jours en mode LeanAgileCamp
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>10h30 - 11h15</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span2">
                    <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

                    <div class="creneau blue">
                        <a href="sessions/experience-dun-maitre-de-donjons-et-dragons-sur-le-management-ou-comment-trouver-son-style.html"
                           target="_blank">
                            Expérience d'un maître de donjons et dragons sur le management, ou comment
                            trouver son style
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 3 - Chalet étage</span>

                    <div class="creneau green">
                        <a href="sessions/la-culture-du-programmeur.html" target="_blank">
                            La culture du programmeur
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 4 - Chalet étage</span>

                    <div class="creneau blue">
                        <a href="sessions/comment-jai-developpe-mon-muscle-de-lamelioration-continue-en-faisant-mes-courses.html"
                           target="_blank">

                            Comment j'ai développé mon muscle de l'amélioration continue
                            en
                            faisant mes courses
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 5 - Chalet étage</span>

                    <div class="creneau violet">
                        <a href="sessions/de-lassembleur-et-des-tests.html" target="_blank">
                            De l'assembleur et des tests
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 6 - La Fermette</span>

                    <div class="creneau violet">
                        <a href="sessions/mon-projet-est-plus-gros-que-le-tien.html"
                           target="_blank">
                            Mon projet est plus gros que le tien
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>11h15 - 11h45</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span12">
                    <h5>Pause</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>11h45 - 12h30</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span2">
                    <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

                    <div class="creneau blue">
                        <a href="sessions/Partager-la-joie-de-coder-avec-un-enfant.html"
                           target="_blank">
                            Partager la joie de coder avec un enfant
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 2 - Chalet RdC</span>

                    <div class="creneau orange">
                        <a href="sessions/l-agilite-ca-commence-avec-ma-start-up-qui-devient-grande.html"
                           target="_blank">
                            L'agilité ça commence avec ma start-up qui devient grande
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 3 - Chalet étage</span>

                    <div class="creneau yellow">
                        <a href="sessions/les-tests-exploratoires.html" target="_blank">
                            Les tests exploratoires
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 4 - Chalet étage</span>

                    <div class="creneau violet">
                        <a href="sessions/refactorer-legacy-meme-pas-peur.html" target="_blank">
                            Refactorer legacy, même pas peur !
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 5 - Chalet étage</span>

                    <div class="creneau violet">
                        <a href="sessions/retour-d-experience-sur-coding-dojo-et-mob-progamming-en-entreprise.html"
                           target="_blank">
                            Expérimentation Mob Programming en entreprise
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 6 - La Fermette</span>

                    <div class="creneau orange">
                        <a href="sessions/5-ans-de-projets-agiles-transition-ou-traditions.html"
                           target="_blank">
                            5 ans de projets agiles : transition ou traditions ?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>12h30 - 14h00</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span12">
                    <h5>Déjeuner (Assis, barbecue s'il fait beau)</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>14h00 - 16h30</strong></div>
        </div>
        <div class="span11">
            <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

            <div class="creneau green">

                <a href="sessions/petit-board-deviendra-grand.html" target="_blank">
                    Petit board deviendra grand
                </a>
            </div>

            <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

            <div class="creneau blue">
                <a href="sessions/des-raisons-de-vous-interesser-aux-jeux-de-langage-de-ludwig-wittgenstein.html"
                   target="_blank">
                    Des raisons de vous intéresser aux jeux de langage de Ludwig Wittgenstein
                </a>
            </div>

            <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

            <div class="creneau green">
                <a href="sessions/manipule-a-l-insu-de-mon-plein-gre.html"
                   target="_blankŀ">
                    Manipulé à l'insu de mon plein gré
                </a>
            </div>

            <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

            <div class="creneau yellow">
                <a href="sessions/user-stories-what-else.html" target="_blank">
                    User stories, what else !
                </a>
            </div>

            <span class="label label-default pull-right">Salle 1 - Le Belvédère</span>

            <div class="creneau blue">
                <a href="sessions/les-dix-buzzwords-du-hipster-agile.html"
                   target="_blank">
                    Les dix buzzwords du Hipster Agile
                </a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>14h00 - 15h00</strong></div>
        </div>
        <div class="span11">
            <span class="label label-default pull-right">Salle 2 - Chalet RdC</span>
            <div class="creneau green">
                <a href="sessions/la-revanche-des-aveugles-sur-lelephant.html"
                   target="_blank">
                    La revanche des aveugles sur l'éléphant
                </a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>15h30 - 16h30</strong></div>
        </div>
        <div class="span11">
            <span class="label label-default pull-right">Salle 2 - Chalet RdC</span>
            <div class="creneau green">
                <a href="sessions/un-coach-sans-peur.html"
                   target="_blank">
                    Un coach sans peur
                </a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>14h00 - 16h30</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span2">
                    <span class="label label-default pull-right">Salle 3 - Chalet étage</span>

                    <div class="creneau green">
                        <a href="sessions/au-secours-le-pere-noel-a-perdu-ses-rennes.html"
                           target="_blank">
                            Au secours, le Père Noël a perdu ses rennes
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 4 - Chalet étage</span>

                    <div class="creneau yellow">
                        <a href="sessions/let-s-sketch-together.html" target="_blank">
                            Let's sketch together !
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 5 - Chalet étage</span>

                    <div class="creneau blue">
                        <a href="sessions/quest-ce-quil-y-a-sous-le-capot-des-jeux-agiles.html"
                           target="_blank">
                            Qu'est-ce qu'il y a sous le capot des jeux agiles ?
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <span class="label label-default pull-right">Salle 6 - La Fermette</span>

                    <div class="creneau yellow">
                        <a href="sessions/story-map-story-map-story-map-comment-on-fait.html"
                           target="_blank">
                            Story Map, Story Map, Story Map ... Comment on fait ?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>16h30 - 17h00</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span12">
                    <h5>Pause</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
            <div class="row-fluid"><strong>17h00 - 18h00</strong></div>
        </div>
        <div class="span11">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="blue">Keynote de clôture</h3>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="full-width hidden-phone">
    <table>
    <thead>
    <tr>
        <td></td>
        <td><h4><span class="label label-default">Salle 1<br></span></h4><h5>Le Belvédère</h5></td>
        <td><h4><span class="label label-default">Salle 2</span></h4><h5>Chalet RdC</h5></td>
        <td><h4><span class="label label-default">Salle 3</span></h4><h5>Chalet étage</h5></td>
        <td><h4><span class="label label-default">Salle 4</span></h4><h5>Chalet étage</h5></td>
        <td><h4><span class="label label-default">Salle 5</span></h4><h5>Chalet étage</h5></td>
        <td><h4><span class="label label-default">Salle 6</span></h4><h5>La Fermette</h5></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="time">8h00 - 8h30</td>
        <td colspan="6">
            <h3 class="blue">Bonus matinal: Tai Chi en plein air (!)</h3>
        </td>
    </tr>
    <tr>
        <td class="time">08h30 - 09h00</td>
        <td colspan="6">Petit déjeuner</td>
    </tr>
    <tr>
        <td class="time">09h00 - 09h30</td>
        <td colspan="6">Pitch des sessions</td>
    </tr>

    <tr>
        <td class="time" rowspan="2">09h30 - 10h30</td>
        <td class="blue" rowspan="2">
            <a href="sessions/generation-agyle.html" target="_blank">
                Génération agYle
            </a>
        </td>

        <td rowspan="4" class="yellow">
            <a href="sessions/je-veux-tester-avec-des-utilisateurs-je-fais-comment-et-quoi-et-est-ce-que-ca-peut-etre-rapide-et-pas-cher.html"
               target="_blank">
                Je veux tester avec des utilisateurs - je fais comment ? et quoi ? et est-ce que ça
                peut être rapide et pas cher ?
            </a>
        </td>
        <td class="violet" rowspan="2">
            <a href="sessions/le-mythe-du-framework-agile.html"
               target="_blank">
                Le mythe du framework agile
            </a>
        </td>
        <td class="green" rowspan="2">
            <a
                    href="sessions/cross-programming-forging-the-future-of-programming.html"
                    target="_blank">
                Cross-Programming : Forging the future of programming
            </a>
        </td>
        <td class="orange" rowspan="2">
            <a href="sessions/petits-outils-de-management-agile-a-l-usage-des-honnetes-managers.html"
               target="_blank">
                Petits Outils de Management Agile à l'usage des... Honnêtes Managers
            </a>
        </td>
        <td class="yellow" rowspan="2">
            <a
                    href="sessions/retour-sur-l-experience-d-ecriture-d-un-livre-en-5-jours-en-mode-leanagilecamp.html"
                    target="_blank">
                Retour sur l'expérience d'écriture
                d'un
                livre en 5 jours en mode LeanAgileCamp
            </a>
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="time" rowspan="2">10h30 - 11h15</td>
        <td class="blue" rowspan="2">
            <a href="sessions/experience-dun-maitre-de-donjons-et-dragons-sur-le-management-ou-comment-trouver-son-style.html"
               target="_blank">
                Expérience d'un maître de donjons et dragons sur le management, ou comment
                trouver son style
            </a>
        </td>
        <td class="green" rowspan="2">
            <a href="sessions/la-culture-du-programmeur.html"
               target="_blank">
                La culture du programmeur
            </a>
        </td>
        <td class="blue" rowspan="2">
            <a href="sessions/comment-jai-developpe-mon-muscle-de-lamelioration-continue-en-faisant-mes-courses.html"
               target="_blank">
                Comment j'ai développé mon muscle de l'amélioration continue en
                faisant mes courses
            </a>
        </td>
        <td class="violet" rowspan="2">
            <a href="sessions/de-lassembleur-et-des-tests.html"
               target="_blank">
                De l'assembleur et des tests
            </a>
        </td>
        <td class="violet" rowspan="2">
            <a href="sessions/mon-projet-est-plus-gros-que-le-tien.html"
               target="_blank">
                Mon projet est plus gros que le tien
            </a>
        </td>
    </tr>
    <tr>
    </tr>

    <tr>
        <td class="time">11h15 - 11h45</td>
        <td colspan="6">Pause</td>
    </tr>

    <tr>
        <td class="time" rowspan="2">11h45 - 12h30</td>
        <td class="blue" rowspan="2">
            <a
                    href="sessions/Partager-la-joie-de-coder-avec-un-enfant.html"
                    target="_blank">
                Partager la joie de coder avec un enfant
            </a>
        </td>
        <td class="orange" rowspan="2">
            <a href="sessions/l-agilite-ca-commence-avec-ma-start-up-qui-devient-grande.html"
               target="_blank">
                L'agilité ça commence avec ma start-up qui devient grande
            </a>
        </td>
        <td class="yellow" rowspan="2">
            <a href="sessions/les-tests-exploratoires.html"
               target="_blank">
                Les tests exploratoires
            </a>
        </td>
        <td class="violet" rowspan="2">
            <a href="sessions/refactorer-legacy-meme-pas-peur.html"
               target="_blank">
                Refactorer legacy, même pas peur !
            </a>
        </td>
        <td class="violet" rowspan="2">
            <a
                    href="sessions/retour-d-experience-sur-coding-dojo-et-mob-progamming-en-entreprise.html"
                    target="_blank">
                Expérimentation Mob Programming en entreprise
            </a>
        </td>
        <td class="orange" rowspan="2">
            <a href="sessions/5-ans-de-projets-agiles-transition-ou-traditions.html" target="_blank">
                5 ans de projets agiles : transition ou traditions ?
            </a>
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td class="time">12h30 - 14h00</td>
        <td colspan="6">Déjeuner (Assis, barbecue s'il fait beau)</td>
    </tr>

    <tr>
        <td class="time" rowspan="3">14h00 - 15h30</td>
        <td class="green" rowspan="1">
            <a href="sessions/petit-board-deviendra-grand.html"
               target="_blank">
                Petit board deviendra grand
            </a>
        </td>
        <td class="green" rowspan="2">
            <a href="sessions/la-revanche-des-aveugles-sur-lelephant.html"
               target="_blank">
                La revanche des aveugles sur l'éléphant
            </a>
        </td>
        <td class="green" rowspan="5">
            <a href="sessions/au-secours-le-pere-noel-a-perdu-ses-rennes.html"
               target="_blank">
                Au secours, le Père Noël a perdu ses rennes
            </a>
        </td>
        <td class="yellow" rowspan="5">
            <a href="sessions/let-s-sketch-together.html" target="_blank">
                Let's sketch together !
            </a>
        </td>
        <td class="blue" rowspan="5">
            <a href="sessions/quest-ce-quil-y-a-sous-le-capot-des-jeux-agiles.html" target="_blank">
            Qu'est-ce qu'il y a sous le capot des jeux agiles ?
            </a>
        </td>
        <td class="yellow" rowspan="5">
            <a href="sessions/story-map-story-map-story-map-comment-on-fait.html"
               target="_blank">
                Story Map, Story Map, Story Map ... Comment on fait ?
            </a>
        </td>

    </tr>
    <tr>
        <td class="blue" rowspan="1">
            <a href="sessions/des-raisons-de-vous-interesser-aux-jeux-de-langage-de-ludwig-wittgenstein.html"
               target="_blank">
                Des raisons de vous intéresser aux jeux de langage de Ludwig Wittgenstein
            </a>
        </td>
    </tr>
    <tr>
        <td class="green">
            <a href="sessions/manipule-a-l-insu-de-mon-plein-gre.html"
               target="_blank">
                Manipulé à l'insu de mon plein gré
            </a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="time" rowspan="2">15h30 - 16h30</td>
        <td class="yellow">
            <a href="sessions/user-stories-what-else.html" target="_blank">
                User stories, what else !
            </a>
        </td>
        <td class="green" rowspan="2">
            <a href="sessions/un-coach-sans-peur.html" target="_blank">
                Un coach sans peur
            </a>
        </td>
    </tr>
    <tr>
        <td class="blue">
            <a href="sessions/les-dix-buzzwords-du-hipster-agile.html"
               target="_blank">
                Les dix buzzwords du Hipster Agile
            </a>
        </td>
    </tr>

    <tr>
        <td class="time">16h30 - 17h00</td>
        <td colspan="6">Pause</td>
    </tr>
    <tr>
        <td class="time">17h00 - 17h30</td>
        <td colspan="6">
            <h3 class="blue">Keynote de clôture</h3>
        </td>
    </tr>

    </tbody>
    </table>
    </div>
    </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $('#programTabTop').find('a:first').tab('show');
        });
    </script>
{% endblock javascript %}
