Speaker: Prénom Nom
Title: Agile France, par Prénom Nom
Date: 2014-05-06 15:01
Tags: Agile France, Prénom Nom
Category: general
Slug: agile-france-par-nom-prenom
#Template: interview-orateur
status: draft




####1. Qui es-tu ?####


####2. Agile France, pour toi, en deux ou trois mots ?####


####3. Une anecdote ?####


####4. Pour toi, la meilleure des raisons de venir à Agile France, c'est...####


####5. Quelque chose à ajouter ?####
