<div class="comments well">
   
      <div class="title"><h4>2 Comments</h4></div>
      
      <ul class="comment-list">
        <li class="comment">
          <a class="pull-left" href="#">
            <img class="avatar" src="http://placekitten.com/64/64">
          </a>
            <div class="comment-author"><a href="#">Ashok</a></div>
            <div class="cmeta">Commented on 25/12/2012</div>
            <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat.</p>
            <div class="clearfix"></div>
        </li>
        <li class="comment reply">
          <a class="pull-left" href="#">
            <img class="avatar" src="http://placekitten.com/64/64">
          </a>
            <div class="comment-author"><a href="#">Ashok</a></div>
            <div class="cmeta">Commented on 25/12/2012</div>
            <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat.</p>
            <div class="clearfix"></div>
        </li>
      </ul>
</div>
