<div class="flexslider">
  <ul class="slides">
      <!-- Each slide should be enclosed inside li tag. -->
      
      <!-- Slide #1 -->
    <li>
      <!-- Image -->
      <img src="theme/img/photos/1.jpg" />
      <!-- Caption -->
      <div class="flex-caption">
         <!-- Title -->
         <h3><span>Ericka Title #1</span></h3>
         <!-- Para -->
         <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
      </div>
    </li>
    
      <!-- Slide #2 -->
    <li>
      <img src="theme/img/photos/2.jpg" />
      <div class="flex-caption">
         <h3><span>Ericka Title #2</span></h3>
         <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
      </div>                  
    </li>
    
    <li>
      <img src="theme/img/photos/3.jpg" />
      <div class="flex-caption">
         <h3><span>Ericka Title #3</span></h3>
         <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
      </div>                  
    </li>
    
    <li>
      <img src="theme/img/photos/4.jpg" />
      <div class="flex-caption">
         <h3><span>Ericka Title #4</span></h3>
         <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
      </div>                  
    </li>
    
    <li>
      <img src="theme/img/photos/5.jpg" />
      <div class="flex-caption">
         <h3><span>Ericka Title #5</span></h3>
         <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
      </div>                  
    </li> 
    
  </ul>
</div>
