<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<!-- Title -->
<title>Agile France 2013</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Description, Keywords -->
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<!-- Google web fonts -->
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link href="/theme/style/bootstrap.css" rel="stylesheet">
<link href="/theme/style/flexslider.css" rel="stylesheet">
<link href="/theme/style/prettyPhoto.css" rel="stylesheet">
<link href="/theme/style/font-awesome.css" rel="stylesheet">
<!--[if IE 7]>
<link href="/theme/style/font-awesome-ie7.css" rel="stylesheet">
<![endif]-->		
<link href="/theme/style/style.css" rel="stylesheet">
<!-- Color Stylesheet - orange, blue, pink, brown, red or green-->
<link href="/theme/style/orange.css" rel="stylesheet">   
<link href="/theme/style/bootstrap-responsive.css" rel="stylesheet">

<!-- HTML5 Support for IE -->
<!--[if lt IE 9]>
<script src="/theme/js/html5shim.js"></script>
<![endif]-->

<!-- Favicon -->
<link href="/theme/img/favicon/favicon.png" rel="shortcut icon">

{% include 'widgets/feeds.html' %}