<div class="container">
   <div class="row">
      <div class="span8">
         <!-- Logo and site link -->
         <div class="logo">
            <h1><a href="/index.html"><img src="/theme/img/logo.png" class="pull-left" height=140 width=140 />{{ SITENAME }}<span class="color">.</span></a></h1>
         </div>
      </div>
      <div class="span4">
         <div class="list">
            {#
               <div class="phone">
                  <i class="icon-phone"></i> Phone: 123-456-7890
               </div>
               <hr />
            #}
            <div class="email">
               <i class="icon-envelope-alt"></i> Email: <a href="mailto:contact@conference-agile.fr">contact@conference-agile.fr</a>
            </div>
            {#
               <hr />
               <div class="address">
                  <i class="icon-home"></i> Address: 12, Srtington Street, NY, USA
               </div>
            #}
         </div>
      </div>
   </div>
</div>
