{% macro post(article, more=False) -%}
  <div class="entry">
     <h2><a href="{{ article.url }}" rel="bookmark">{{ article.title }}</a></h2>
     
     <!-- Meta details -->
     <div class="meta">
        <i class="icon-calendar"></i> {{ article.locale_date }}
        {% if article.author %}
          <i class="icon-user"></i> {{ article.author }}
        {% endif %}
        <i class="icon-folder-open"></i> <a href="#">{{ article.category }}</a>
        {#
          <span class="pull-right"><i class="icon-comment"></i> <a href="#">{{ num_comments }} Comments</a></span>
        #}
     </div>
     {% if article.img %}
       <div class="bthumb">
         <a href="#"><img src="{{ article.img }}" alt="" /></a>
       </div>
     {% endif %}

     {{ caller() }}

     {% if more %}
        <div class="button"><a href="{{ more_url }}">Read More...</a></div>
     {% endif %}
  </div>
{%- endmacro %}
