<div class="rposts">
   <h4>Recent Posts</h4>
   <div class="row">
      <div class="span6">
      
         <!-- Recent post 1. Class name should be "rpost1" -->
         <div class="rpost1">
            <!-- Image -->
            <div class="rimg">
               <img src="theme/img/photos/r1.jpg" alt="" />
            </div>
            <!-- Title & Para -->
            <div class="rdetails">
               <h5>Lorem ipsum</h5>
               <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
            </div>
         </div>
         
         
         <!-- Recent post 2. Class name should be "rpost2" -->
         <div class="rpost2">
            <div class="rimg">
               <img src="theme/img/photos/r2.jpg" alt="" />
            </div>
            <div class="rdetails">
               <h5>Lorem ipsum</h5>
               <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
            </div>                     
         </div>   

         
      </div>
      <div class="span6">
      
      
         <!-- Recent post 3. Class name should be "rpost1" -->
         <div class="rpost1">
            <div class="rimg">
               <img src="theme/img/photos/r3.jpg" alt="" />
            </div>
            <div class="rdetails">
               <h5>Lorem ipsum</h5>
               <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
            </div>
         </div>
         
         
         <!-- Recent post 4. Class name should be "rpost2" -->
         <div class="rpost2">
            <div class="rimg">
               <img src="theme/img/photos/r4.jpg" alt="" />
            </div>
            <div class="rdetails">
               <h5>Lorem ipsum</h5>
               <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
            </div>                     
         </div>  

         
      </div>
   </div>
</div>
