<div class="span4">
   <div class="sidebar">
      <!-- Widget -->
      <div class="widget">
         <h4>Search</h4>
         <form method="get" id="searchform" action="#" class="form-search">
            <input type="text" value="" name="s" id="s" class="input-medium"/>
            <button type="submit" class="btn">Search</button>
         </form>
      </div>
      <div class="widget">
         <h4>Recent Posts</h4>
         <ul>
         <li>Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>
         <li>Cras tincidunt mi non arcu hendrerit eleifend</li>
         <li>Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>
         <li>Maecenas hendrerit neque id ante dictum mattis</li>
         <li>Vivamus non neque lacus, et cursus tortor</li>
         </ul>
      </div>
      <div class="widget">
         <h4>About</h4>
         <p>Nulla facilisi. Sed justo dui, id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat. Proin rutrum, erat eget posuere semper, <em>arcu mauris posuere tortor</em>,velit at <a href="#">magna sollicitudin cursus</a> ac ultrices magna. Aliquam consequat, purus vitae auctor ullamcorper, sem velit convallis quam, a pharetra justo nunc et mauris. </p>
      </div>                              
   </div>                                                
</div>
