{% macro sidebar() -%}
   <div class="span4">
      <div class="sidebar">
         {#
            <div class="widget">
               <h4>Search</h4>
               <form method="get" id="searchform" action="#" class="form-search">
                  <input type="text" value="" name="s" id="s" class="input-medium"/>
                  <button type="submit" class="btn">Search</button>
               </form>
            </div>
         #}
         {{ caller() }}
         {#
            <div class="widget">
               <h4>About</h4>
               <p>Nulla facilisi. Sed justo dui, id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet. Quisque eu consectetur erat. Proin rutrum, erat eget posuere semper, <em>arcu mauris posuere tortor</em>,velit at <a href="#">magna sollicitudin cursus</a> ac ultrices magna. Aliquam consequat, purus vitae auctor ullamcorper, sem velit convallis quam, a pharetra justo nunc et mauris. </p>
            </div>
         #}
      </div>
   </div>
{%- endmacro %}
